.Showcase {

  ul li {
    max-width: 24%;
  }
  &__Item {
    background: #fff;
    margin-bottom: 1.7em;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 5px 5px 5px #aaa;
      .Showcase__Item__image__container {
        transform: scale(1.2);
      }
    }

    &__container {
      padding: 1em;

      h2 {
        font-size: 1em;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
        display: inline-block;
      }

      .Category {
        float: right;
      }

      p {
        margin-top: 1em;
        font-size: 0.7em;
      }

    }
    &__image {
      height: 200px;
      width: 100%;
      overflow: hidden;

      &__container {
        width: 100%;
        height: 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 1s;
      }
    }
    &__actions {
      padding: 0 1em 1em 1em;

      a {
        color: #000;
        font-size: 0.8em;

        span.chevron {
          margin-right: 0.5em;
          &:before {
            border-style: solid;
            border-width: 2px 2px 0 0;
            content: '';
            display: inline-block;
            height: 0.6em;
            position: relative;
            top: -0.1em;
            vertical-align: middle;
            width: 0.6em;
            left: -0.2em;
            transform: rotate(45deg);
          }
          @each $category in $categories {
            $color: nth($categoryColors, index($categories, $category));
            &--#{$category} {
              &:before {
                border-color: $color;
              }
            }
          }
        }
      }
    }
  }
}